freemem.tmc
TMbase.genui
TMbase.tbl
savelog.cmd
doreport
PTB330.genui
PTB330.tbl
WTX530.genui
WTX530.tbl
IFStblnc.tmc
IFSdispnc.cc
IFSdispncoui.cc
IFSdispnc.o
IFSdispncoui.o
IFSalgoa.tmc
IFSalgo.cc
IFSalgooui.cc
IFSalgo.o
IFSalgooui.o
doit.dep
IFScmd.cc
IFScmd.dat
IFScmd.h
IFScltnc.o
IFScltncoui.cc
IFScltncoui.o
IFSsrvr.o
IFSsrvroui.cc
IFSsrvroui.o
IFScol.cc
tm.dac
IFScoloui.cc
IFScol.o
IFScoloui.o
IFSengext.cdf
IFSengextcdf.oui
IFSengextcdf.tmc
IFSengext.cc
IFSengextoui.cc
IFSengext.o
IFSengextoui.o
IFStblnc.tmc.dep
*.err
Makefile
*.exe
freemem.tmc
TMbase.genui
TMbase.tbl
savelog.cmd
doreport
account.pm
PTB330.genui
PTB330.tbl
WTX530.genui
WTX530.tbl
IFSdispnc
IFSalgo
doit
IFScltnc
IFSsrvr
IFScol
IFSengext
