freemem.tmc
TMbase.genui
TMbase.tbl
IFSbasetblnc.tmc
basedispnc.cc
basedispncoui.cc
basedispnc.o
basedispncoui.o
basealgoa.tmc
basealgo.cc
basealgooui.cc
basealgo.o
basealgooui.o
doit.dep
basecmd.cc
basecmd.dat
basecmd.h
basecltnc.o
basecltncoui.cc
basecltncoui.o
basesrvr.o
basesrvroui.cc
basesrvroui.o
basecol.cc
tm.dac
basecoloui.cc
basecol.o
basecoloui.o
baseengext.cdf
baseengextcdf.oui
baseengextcdf.tmc
baseengext.cc
baseengextoui.cc
baseengext.o
baseengextoui.o
IFSbasetblnc.tmc.dep
*.err
freemem.tmc
TMbase.genui
TMbase.tbl
Makefile
*.exe
basedispnc
basealgo
doit
basecltnc
basesrvr
basecol
baseengext
